.ae-style
{
	float: left !important;
	margin-right: 6px !important;
}

.ae-text-panel-block
{
	float: right;
	display: block;
	height: 30px;
	color: #555;
	line-height: 30px;
	margin-right: 6px;
	text-decoration: none;
}

.ae-text-panel-block span
{
	border: 1px solid #555;
	border-radius: 14px;
	background: #555;
	color: white;
	font-size: 10px;
	margin: 10px 4px 8px;
	width: 10px;
	/*line-height: 33px;*/
	height: 10px;
	/*visibility: hidden;*/
}

.ae-text-panel-block:hover
{
	color: #555;
}
.ae-text-panel-block:hover span
{
	background: #36A3CA;
	border-color: #36A3CA;
	/*visibility: visible;*/
}
#ae-loader
{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	padding-top: 6px;
	top:-6px;
	opacity: 0.6;
	text-align: center;
	background: #ccc url('/wp-admin/images/spinner-2x.gif') 50% 50% no-repeat;
}